body {
  background-color: hsl(228, 33%, 97%);
  overflow-x: hidden;
}
.main {
  transform: translate(350px, 40px);
}
.first-container {
  width: 720px;
  height: 200px;
  background-color: white;
  border-radius: 12px;
}
.increment {
  margin-left: 18px;
  margin-top: 28px;
  padding-left: 18px;
  position: relative;
  z-index: 1;
  top: 23px;
  height: 120px;
  border-radius: 10px;
  width: 20px;
  background-color: hsl(228, 33%, 97%);
}
.container div {
  width: 100%;
  padding: 8px;
  text-align: center;
}
.container div * {
  margin: 5px;
}
#increment-par {
  font-weight: 800;
}
#increment-par2 {
  font-weight: 800;
}
.increment img {
  margin-top: 12px;
  position: relative;
  right: 4px;
}
.increment p {
  position: relative;
  right: 0.25rem;
  cursor: pointer;
}
.flex-text {
  display: flex;
  margin-left: 100px;
  margin-top: -90px;
}
.flex-text img {
  width: 20px;
  height: 20px;
  margin-top: 8px;
}
.img-div {
  width: 20px;
  height: 20px;
  margin-left: 40px;
  margin-top: -10px;
  transform: translateY(-30px);
}
.btn-div {
  float: right;
  margin-top: 35px;
  background-color: hsl(238, 40%, 52%);
  color: white;
  border: none;
  width: 120px;
  height: 45px;
  border-radius: 10px;
  margin-right: 74px;
}
.flex-text h3 {
  font-size: 18px;
  margin-top: 5px;
  margin-left: 20px;
  color: hsl(238, 40%, 52%);
  cursor: pointer;
}
.container {
  width: 660px;
  height: 180px;
  margin-top: 50px;
  margin-left: 400px;
  margin-bottom: -60px;
  border-radius: 16px;
  background-color: white;
  display: none;
}
.container2 {
  width: 660px;
  height: 180px;
  margin-top: 50px;
  margin-left: 400px;
  margin-bottom: 60px;
  border-radius: 16px;
  background-color: white;
  display: none;
}
.line {
  line-break: normal;
}
.container textarea {
  margin-top: 40px;
  margin-left: 80px;
  width: 320px;
  height: 40px;
  border-radius: 12px;
  padding-left: 10px;
}
.container2 textarea {
  margin-top: 40px;
  margin-left: 80px;
  width: 320px;
  height: 40px;
  border-radius: 12px;
  padding-left: 10px;
}
.flex-text h4 {
  font-size: 18px;
  margin-top: 5px;
  color: hsl(211, 10%, 45%);
  margin-left: 50px;
  margin-right: 150px;
  cursor: pointer;
  white-space: nowrap;
}
.flex-text h5 {
  font-size: 18px;
  margin-top: 5px;
  margin-left: 50px;
  cursor: pointer;
}
.icon-reply {
  width: 20px;
  height: 20px;
  font-size: 12px;
  margin-left: 80px;
  margin-top: 8px;
  cursor: pointer;
}
.flex-text h5 {
  font-size: 18px;
  color: hsl(238, 40%, 52%);
  margin-left: 5px;
  cursor: pointer;
}
.flex-text h6 {
  display: block;
  margin-left: -430px;
  margin-top: 80px;
  color: lightgray;
  font-weight: 900;
  font-size: 1rem;
  cursor: pointer;
}
.myContainer div {
  width: 500px;
  height: 170px;
  padding: 15px;
  border-radius: 12px;
  background-color: white;
  margin-top: 30px;
  transform: translateX(400px);
  margin-bottom: -110px;
}
.imgMe {
  transform: translate(420px, 100px);
  position: relative;
  width: 40px;
  height: 40px;
  z-index: 1;
}
.paragraph {
  transform: translate(480px, 58px);
  display: none;
  position: relative;
  z-index: 10;
}
